.fa-solid{
    color: rgb(6, 191, 53);
}
span{
    width: 1px;
}
.nav-link{
    color: black;
}
.active{
    color: rgb(6, 191, 53) ;
}
.nav-btn{
    color: white;
    background-color: rgb(6, 191, 53) ;
}
.Brand{
    font-weight: 700;
}
.one{
    color: rgb(6, 191, 53) ;
}
.has-bg-img{
    background-image:url(../images/img-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
.container{
    width: 22vw;
    margin-bottom: 30px;
    margin-right: 50px;
}

.news{
    width: 20vw;
    position:relative ;
}
.avatar{
    width:30px ;
    height: 30px;
    border-radius: 16px;
}
.time{
font-size: 12px;
font-weight:500 ;
}
.container .btn{
    background-color: blue;
}
.progress{
    width: 20%;
    background-color: rgb(6, 191, 53);
    height: 1vh;
}
.rs-col{
    width: 25vw;
    margin-left: vw;
}
.info{
    width: 25vw;
    height: 25vh;
}
.search{
    width: 20vw;
    text-align: center;
    height: 6vh;
}
.div-img{
    position: absolute;
    z-index: 1;
    width: 13rem;
    margin-left: 20vw;
}
.main-div{
    position: relative;
    background-color:#00D9A5;
    background-image: url(../images/banner-pattern.svg);

}
.search-icon{
    background-color:rgb(6, 191, 53) ;
    color: white;
}
.dot{
    height: 24px;
    width: 26px;
    border-radius: 50%;
    display: inline-block;
    margin-left:40px;
}
.categories{
    background-color: rgba(188, 180, 180, 0.935);
    height: 5vh;
    margin-top: 2vh;
}
.blog-img{
    width: 13vw;
    height: 16vh;
}
.div{
    width:30vw ;
}
.super-div{
    width: 12vw;
}
.sub-div{
    width: 18vw;
}
.blog{
    width:30vw ;
}
.tag{
    border-radius: 20px;
    padding: 1px 1px;
    width: 6vw;
    text-align: center;
}
.app{
    height: 40.8vh;
    margin-left: 38vw;
}
.btn-footer{
    font-size: 12px;
    font-weight: 500;
    opacity: 0.8;
}
.button{
    width: 15vw;
    height: 10vh;
}
.footer{
    height: 50vh;
    background-color:rgb(82, 82, 87);
    display: grid;
    grid-template-columns:auto auto auto auto auto auto;
}
.footer >div{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.footer>div>a{
    text-decoration: none;
    color: white;
}
.social-media>a{
    color: white;
    border-radius: 50%;
    background-color:rgb(60, 60, 63) ;
    margin: 4px;

}
.social-media>a>i{
    width: 40px;
    text-align: center;
}
